<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">Welcome to CFP Wristband Central!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 homeOptionsContainer">
            <a href="/wristbands/new">
                <div class="homeOptions">
                    <h3 class="text-center">Register New Wristband</h3>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 homeOptionsContainer">
            <a href="/wristbands/find">
                <div class="homeOptions">
                    <h3 class="text-center">Manage My Wristband</h3>
                </div>
            </a>
        </div>
    </div>
</div>

<% include ./partials/footer %>