<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Enter your wristband number to look up your account. Click "Submit" when done.</h3>
        </div>
    </div>
    <form id="findWristbandForm" action="/api/wristbands" method="GET">
        <div class="form-group">
            <label for="rfidNumberInput">Enter your wristband number</label>
            <input type="text" name="rfidNumber" class="form-control" id="rfidNumberInput" placeholder="Wristband #">
        </div>        
        <div id="pinNumberField" class="form-group">
            <label for="pinNumberInput">Enter your PIN number</label>
            <input type="password" name="pinNumber" class="form-control" id="pinNumberInput" placeholder="PIN #">
        </div>
        <div class="form-group">
            <button id="wristbandSubmitButton" class="btn btn-normal">Submit</button>
        </div>
    </form>
</div>

<script src="../js/findWristbandJS.js" type="text/javascript"></script>

<% include ../partials/footer %>